/*------------LentaController css------------------*/

/* - - - - - - - - - - - - - - - - - - - - */
/* 1. Index view
/* - - - - - - - - - - - - - - - - - - - - */
.imgLenta{
    max-width: 600px;
    max-height: 500px;
}
.txtLenta {
    float: right;
}

/* - - - - - - - - - - - - - - - - - - - - */
/* 1. Photo view
/* - - - - - - - - - - - - - - - - - - - - */
.imgPhoto {
    max-width: 900px;
    max-height: 700px;
}