
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, input, textarea, img, blockquote, iframe, code, pre{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

body{
	font: 12px 'Helvetica Neue',  Helvetica, Arial, sans-serif;
	color: #444;
	background: url("../img/pageBg.jpg") no-repeat center top #fcfcfc;
}

.clear{
	clear: both;
}

/* - - - - - - - - - - - - - - - - - - - - */
/* Main Layout
/* - - - - - - - - - - - - - - - - - - - - */

.wrap{
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

#pageContent{
	clear: both;
	margin: 30px 0 0;
}

/* - - - - - - - - - - - - - - - - - - - - */
/* 4. Typography
/* - - - - - - - - - - - - - - - - - - - - */

a{
	text-decoration: none;
	color: #00c2f3;
}

a:hover{
	text-decoration: underline;
}

p{
	margin-bottom: 10px;
	line-height: 1.4em;
}

.content p{
	margin-bottom: 20px;
	line-height: 1.6em;
}

h1{
	margin: 0 0 20px;
	font: normal 35px/1em "Droid Sans", sans-serif;
	color: #00c2f3;
}

h1 strong{
	font-weight: bold;
	color: #444;
}

h2{
	margin: 0 0 10px;
	font: normal 23px/1.2em "Droid Sans", sans-serif;
	color: #444;
}

h3{
	margin: 0 0 10px;
	font: normal 18px/1.2em "Droid Sans", sans-serif;
	color: #444;
}

.widget h3{
	margin: 0 0 10px;
}

h4{
	margin: 0 0 10px;
	font: normal 14px/1.2em "Droid Sans", sans-serif;
	color: #444;
}

h5{
	margin: 0 0 10px;
	font: bold 12px/1.2em "Droid Sans", sans-serif;
	color: #444;
}

h6{
	margin: 0 0 10px;
	font: normal 9px/1.2em "Droid Sans", sans-serif;
	color: #444;
}

span.highlight{
	padding: 1px 5px;
	color: #fff;
	background: #00c2f3;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/* - Fullwidth Comments - */

.fullwidth .commentContent{
	width: 830px;
}

.fullwidth .children .commentContent{
	width: 790px;
}

.fullwidth .children .children .commentContent{
	width: 750px;
}

.fullwidth .children .children .children .commentContent{
	width: 710px;
}

.fullwidth .children .children .children .children .commentContent{
	width: 670px;
}

/* - - - - - - - - - - - - - - - - - - - - */
/* 1. Header
/* - - - - - - - - - - - - - - - - - - - - */

#topLine{
	width: 100%;
	height: 2px;
	background: #222;
	position: relative;
	z-index: 3;
}

#header{
	padding: 30px 0 20px;
	border-bottom: 1px solid #d2d2d2;
}

#logoContainer{
	float: left;
}
/* - - - - - - - - - - - - - - - - - - - - */
/* 3. Navigation
/* - - - - - - - - - - - - - - - - - - - - */

#menuContainer{
	float: right;
}

ul#navMenu{
	margin: 25px 0 0;
	list-style: none outside none;
}

ul#navMenu li{
	float: left;
	margin: 0 0 0 18px;
	position: relative;
	z-index: 999;
}

ul#navMenu li a{
	display: block;
	padding: 5px 10px;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
	background: transparent;
	color: #444;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background-color 0.1s linear, color 0.1s linear;
	-moz-transition: background-color 0.1s linear, color 0.1s linear;
}

ul#navMenu li.parent a{
	padding-right: 24px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: right top;
	background-image: url(../img/menu-arrow.png);
}

ul#navMenu li a:hover, ul#navMenu li.current a{
	color: #fff;
	text-decoration: none;
	background-color: #222;
}

ul#navMenu li.parent a:hover, ul#navMenu li.current.parent a{
	background-position: right bottom;
}


/* - -- --- ---- Sub-Menu ---- --- -- - */

ul#navMenu li.parent ul{
	display: none;
	position: absolute;
	top: 22px;
	left: 0;
	width: 160px;
	margin: 0;
	padding: 10px 0 0;
	list-style: none outside none;
	background: url(../img/drop-down-arrrow.png) no-repeat 18px 0;
	overflow: visible;
	z-index: 99;
}

.noJs ul#navMenu li.parent:hover ul{
	display: block;
}

ul#navMenu li.parent ul li{
	float: none;
	margin: 0;
	padding: 0;
}

ul#navMenu li.parent ul li a{
	display: block;
	padding: 9px 10px;
	color: #444;
	background: #fff;
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
	border-bottom: 1px solid #E6E6E6;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

ul#navMenu li.parent ul li:first-child a{	
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

ul#navMenu li.parent ul li:last-child a{	
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

ul#navMenu li.parent ul li a:hover{
	color: #00c2f3;
	background: #fefefe;
}


/* - -- --- ---- Second Level Sub-Menu ---- --- -- - */

ul#navMenu li.parent ul li ul{
	display: none;
	position: absolute;
	top: -1px;
	left: 158px;
	width: 160px;
	margin: 0;
	padding: 0 0 0 10px;
}

ul#navMenu li.parent ul li ul.leftMenu{
	left: -168px;
	padding: 0 10px 0 0;
}

.noJs ul#navMenu li.parent:hover ul li ul{
	display: none;
}

.noJs ul#navMenu li.parent ul li:hover ul{
	display: block;
}

ul#navMenu li.parent ul li ul li:first-child a{	
	border-top: 1px solid #eee;
}

/* - Sub Menu Arrow added via CSS3 - */

ul#navMenu li.parent ul li ul li:first-child a:after{
	display: block;
	height: 14px;
	width: 6px;
	position: absolute;
	left: -5px;
	top: 9px;
	content: '';
	background: url(../img/sub-menu-arrow.png) no-repeat 0 0;
	z-index: 10;
}

ul#navMenu li.parent ul li ul.leftMenu li:first-child a:after{
	display: none;
}

ul#navMenu li.parent ul li ul.leftMenu li:first-child a:before{
	display: block;
	height: 14px;
	width: 6px;
	position: absolute;
	right: -5px;
	top: 9px;
	content: '';
	background: url(../img/sub-menu-arrow-left.png) no-repeat 0 0;
	z-index: 10;
}

/* - -- --- ---- One Fourth ---- --- -- - */

.oneFourth{ width: 220px; }

.main .oneFourth{ width: 160px; }

.threeFourth{ width: 700px; }

.main .threeFourth{ width: 520px; }

.oneFourth,
.main .oneFourth,
.threeFourth,
.main .threeFourth{
	float: left;
	margin-right: 20px;
}

.oneFourth.last,
.main .oneFourth.last,
.threeFourth.last,
.main .threeFourth.last{
	margin-right: 0;
}

/* - -- --- 4 Columns --- -- - */

.oneFourth .portfolioThumb{
	padding: 0 0 10px;
	background: url(../img/thumb-shadow-oneFourth.png) no-repeat center bottom;
}

.oneFourth .portfolioThumb .thumbHolder{
	height: 160px;
}

.oneFourth .portfolioThumb.portrait .thumbHolder{
	height: 240px;
}

/* - - - - - - - - - - - - - - - - - - - - */
/* 1. Portfolio Items
/* - - - - - - - - - - - - - - - - - - - - */

.portfolioItem{
	margin: 0;
}

.portfolioPage .portfolioItem{
	margin: 0 0 30px;
}

.portfolioThumb .frame{
	padding: 9px;
	background: #fff;
	border-width: 1px;
	border-style: solid;
	border-color: #f9f9f9 #ececec #cdcdcd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.portfolioItem .portfolioThumb a.viewDetail{
	display: block;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

.portfolioThumb .thumbHolder img{
	display: block;
}

.portfolioItem h2, .portfolioItem h2 a{
	margin: 0 0 10px;
	font: normal 18px/20px "Droid Sans", sans-serif;
	color: #444;
	text-decoration: none;
}

.portfolioItem h2 a:hover{
	color: #00c2f3;
}

.portfolioItem .date{
	font: normal 11px/20px "Droid Sans", sans-serif;
}

.portfolioItem .portfolioDetails{
	margin: 8px 0 0;
}

.portfolioItem .portfolioDetails h2{
	float: left;
}

.portfolioItem .portfolioDetails .date{
	float: right;	
}

.portfolioItem .portfolioDetails p{
	clear: both	
}

.portfolioItem .portfolioDetails .button{
	float: left;
	margin-right: 20px;
}

/* - - - - - - - - - - - - - - - - - - - - */
/* 4. Inner Description and Gallery
/* - - - - - - - - - - - - - - - - - - - - */

.portfolioItem.innerDesc,
.portfolioItem.gallery{
	margin: 0 0 10px;
}

.portfolioItem.innerDesc .portfolioThumb a.viewDetail{
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: right bottom;
}

.portfolioItem.innerDesc .thumbHolder{
	position: relative;
}

.portfolioItem.innerDesc img.thumb{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}

.portfolioItem.innerDesc div.description{
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 0 3px 4px;
	z-index: 2;
}

.portfolioItem.innerDesc .description h2{
	margin: 0 0 5px;
	font-size: 20px;
	line-height: 1.2em;
}

.portfolioItem.innerDesc .description .date{
	font-size: 14px;
	line-height: 1.2em;
	color: #00c2f3;
}

/* - Selection Color - */

::-moz-selection{
	color: #fff;
	background: #00c2f3;
}

::selection{
	color: #fff;
	background: #00c2f3;
}

/* - - - - - - - - - - - - - - - - - - - - */
/* 5. Footer
/* - - - - - - - - - - - - - - - - - - - - */

#footer{
	margin: 20px 0 0;
	color: #fff;
	background: #222;
	border-top: 4px solid #00C2F3;
}

#footerArea{
	padding: 18px 0 8px;
}

#footer a{
	color: #00c2f3;
}

#footer h3{
	color: #fff;
}

#footer ul.arrowList li{
	background-image: url(../img/footer-list-arrow.png);
}

#footer ul.arrowList li a{
	color: #fff;
}

#footer ul.arrowList li a:hover{
	color: #00c2f3;
	text-decoration: none;
}

/* - - - - - - - - - - - - - - - - - - - - */
/* 6. Sub Footer
/* - - - - - - - - - - - - - - - - - - - - */

#subFooter{
	padding: 25px 0;
	font: normal 11px/1em 'Helvetica Neue',  Helvetica, Arial, sans-serif;
	border-top: 1px solid #3F3F3F;
}

#footer .copyright{
	float: left;
	color: #666;
}

ul#footerNavigation{
	float: right;
	margin: 0;
	list-style: none outside none;
}

ul#footerNavigation li{
	float: left;
	margin: 0 0 0 10px;
	padding: 0 0 0 10px;
	border-left: 1px solid #444;
}

ul#footerNavigation li:first-child{
	margin: 0;
	padding: 0;
	border-left: none;
}

ul#footerNavigation li a{
	color: #fff;
}

ul#footerNavigation li a:hover{
	text-decoration: underline;
}


/* - -- --- ---- Back To Top Button ---- --- -- - */

a#backToTop{
	position: fixed;
	bottom: 50px;
	padding: 0 0 0 30px;
	height: 21px;
	width: 100px;
	font: normal 12px/21px 'Helvetica Neue',  Helvetica, Arial, sans-serif;
	color: #444;
	background: url(../img/back-to-top.png) no-repeat left center;
	overflow: hidden;
	display: none;
}

a#backToTop:hover{
	text-decoration: none;
}

/* ------------------------------------------------------------------------------------ */
/* 03. ELEMENTS
/* ------------------------------------------------------------------------------------ */

/* - - - - - - - - - - - - - - - - - - - - */
/* 1. Buttons
/* - - - - - - - - - - - - - - - - - - - - */

.button{
	margin: 0 0 10px;
	display: inline-block;
	padding: 13px 19px 12px;
	font: bold 14px/14px 'Helvetica Neue',  Helvetica, Arial, sans-serif;
	color: #fff;
	text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    text-decoration: none;
	outline: none;
    cursor: pointer;
    background: #00c2f3;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.button:hover, .button:focus{
	color: #00c2f3;
    text-decoration: none;
	outline: none;
    background: #303030;
}

.button:active{
	color: #00c2f3;
    text-decoration: none;
	outline: none;
}

.button.small{
	padding: 8px 10px 7px;
	font-size: 12px;
	line-height: 12px;
}

.button.large{
	padding: 18px 27px 16px;
	font-size: 16px;
	line-height: 16px;
}



/* - - - - - - - - - - - - - - - - - - - - */
/* 2. Lists
/* - - - - - - - - - - - - - - - - - - - - */

ul, ol{
	margin: 0 0 20px;
	list-style-position: inside;
}

ul li, ol li{
	margin: 0 0 6px;
	line-height: 14px;
}

ul li ul,
ul li ol,
ol li ul,
ol li ol{
	margin: 0;
}


/* - -- --- ---- Bullet List ---- --- -- - */

ul.bulletList li{
	padding: 0 0 0 14px;
	background: url(img/list-bullet.png) no-repeat left 1px;
	list-style: none outside none;
}

/* - -- --- ---- Arrow List ---- --- -- - */

ul.arrowList li{
	padding: 0 0 0 14px;
	background: url(img/list-arrow.png) no-repeat left 0px;
	list-style: none outside none;
}

/* - -- --- ---- Circle List ---- --- -- - */

ul.circleList li{
	padding: 0 0 0 14px;
	background: url(img/list-circle.png) no-repeat left 1px;
	list-style: none outside none;
}

/* - -- --- ---- Square List ---- --- -- - */

ul.squareList li{
	padding: 0 0 0 14px;
	background: url(img/list-square.png) no-repeat left 1px;
	list-style: none outside none;
}

/* - -- --- ---- Triangle List ---- --- -- - */

ul.triangleList li{
	padding: 0 0 0 14px;
	background: url(img/list-triangle.png) no-repeat left 1px;
	list-style: none outside none;
}

/* - -- --- ---- Star List ---- --- -- - */

ul.starList li{
	padding: 0 0 0 14px;
	background: url(img/list-star.png) no-repeat left 1px;
	list-style: none outside none;
}

/* - -- --- ---- Two-Columns List ---- --- -- - */

ul.twoCols li{
	float: left;
}

ul.twoCols:before, ul.twoCols:after{
	content: "";
	display: table;
}

ul.twoCols:after{
	clear: both;
}

ul.twoCols{
	zoom: 1;
}

.oneThird ul.twoCols li{ width: 96px; }

.oneFourth ul.twoCols li,
.main .oneThird ul.twoCols li{ width: 96px; }


/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
